@{
    ViewBag.Title = "BagCheck";
}

<h2 style="padding-bottom:10px;">Bag Check</h2>
<a href="https://forms.gle/Evs1oaK9s3AadrMw8" class="my_button med10button"><center>Med-10 Bag Check</center></a>
<a href="https://forms.gle/ePZ4c1MgxzgrPRut7" class="my_button med12button"><center>Med-12 Bag Check</center></a>
<a href="#" class="my_button med13button"><center>Med-13 Bag Check</center></a>





